html {
    width: 600px;
    margin: auto;
    font-family: arial, sans-serif;
}

.heading {
    text-align: center;
    margin: 50px;
}

.sections {
    margin-top: 10px;

}
.sections > h2 {
    text-align: center;
}

.links {
    margin: 10px;
}

.backgroundColour {
    /*background-color: orange;*/
}