
@media (max-device-width: 600px) {
    .header {
        background-color: indianred;
    }

}

html {
    width: 900px;
    margin: auto;
    font-family: arial, sans-serif;
}

.header {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 17px auto auto;
    width: 100%;
}

.sub_header_images {
    width: 390px;
    height: auto;
    display: inline-block;
    padding: 17px 10px 17px 17px;
}

.sub_header_info {
    display: inline-block;
    width: 410px;
    padding: 29px 17px 17px 10px;
    vertical-align: top;
}

.sub_header_info h1 {
    margin-top: 0;
    line-height: 18px;
    font-size: 30px;
    font-weight: normal;
}

.sub_header_info p {
    font-size: 16px;
}

.main_cat > img {
    width: 98%;
}

.other_cats > img {
    width: 32%;
}

.button {
    background-color: cornflowerblue;
    border: none;
    border-radius: 4px;
    color: white;
    width: 70px;
    height: 30px;
}

h2 {
    font-size: 26px;
    font-weight: normal;
}

.addit_info {
    border: solid 1px lightgrey;
    border-radius: 5px;
    width: auto;
    height: auto;
    margin: auto;
    padding: 20px;
}

table {
    width: 100%;
    line-height: 25px;
    font-size: 16px;
    text-align: left;
}

table, td, th {
    border-top: 1px solid lightgrey;
    border-collapse: collapse;
}

.addit_info span {
    color: orange;
}

.checkin {
    border: solid 1px lightgrey;
    border-radius: 5px;
    width: auto;
    height: auto;
    margin: auto auto 20px;
    padding: 0 20px;
}

.checkin h3 {
    font-size: 22px;
    font-weight: normal;
}

.checkin p {
    font-size: 16px;
}

h4 {
    font-weight: lighter;
    font-size: 14px;
}

.checkin span {
    color: orange;
    font-size: 16px;
}

body {
    margin-bottom: 40px;
}

